<div style="display: flex; align-items: baseline; margin-bottom: 1rem;">
  <p>Edit Person with [ID: {{ id }}]
    <a [routerLink]="['/list']">
      Back
    </a>
  </p>

  <p>Collaborators:</p>

  <div style="display: inline-block;">
    <ng-container *ngFor="let c of collaborators">
      <app-collaborator-local [c]="c" />
    </ng-container>
  </div>

</div>

<ng-container *ngFor="let c of collaborators">
  <app-collaborator-pointer *ngIf="c.nick !== nick" [color]="c.bgColor" [label]="c.nick" [tx]="c.mouseX"
    [ty]="c.mouseY" />
</ng-container>

<table border="1">
  <thead>
    <tr>
      <th>Field</th>
      <th>Value</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Id: </td>
      <td>{{id}}</td>
    </tr>
    <tr>
      <td>Name: </td>
      <td>
        <app-collaborator-field-owner [owner]="nameOwner" />
        <input type="text" name="name" [(ngModel)]="name" (focus)="onFocus($event)" (blur)="onBlur($event)"
          (input)="onInput($event)">
      </td>
    </tr>
    <tr>
      <td>Age: </td>
      <td>
        <app-collaborator-field-owner [owner]="ageOwner" />
        <input type="number" name="age" [ngStyle]="{ 'border-color': ageOwner ? ageOwner.bgColor : '#ccc' }"
          [(ngModel)]="age" (focus)="onFocus($event)" (blur)="onBlur($event)" (input)="onInput($event)">
      </td>
    </tr>
  </tbody>
</table>
