<div style="display: flex; align-items: baseline; margin-bottom: 1rem;">
  <p>Edit Person with [ID: {{ id }}]
    <a [routerLink]="['/list']">
      Back
    </a>
  </p>

  <p>Collaborators:</p>

  <div style="display: inline-block;">
    <ng-container *ngFor="let c of collaborators">
      <app-collaborator-local [c]="c" />
    </ng-container>
  </div>

</div>

<ng-container *ngFor="let c of collaborators">
  <app-collaborator-pointer *ngIf="c.nick !== nick" [c]="c" [tx]="c.mouseX" [ty]="c.mouseY" />
</ng-container>

<form [formGroup]="frm" (ngSubmit)="onSubmit()">

  <table border="1">
    <thead>
      <tr>
        <th>Field</th>
        <th>Value</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Id: </td>
        <td>{{id}}</td>
      </tr>
      <tr>
        <td>Name: </td>
        <td>
          <app-collaborator-field-owner [owner]="nameOwner" />
          <input
            type="text"
            name="name"
            formControlName="name"
            (input)="onInput($event)"
            (focus)="onFocus($event)"
            (blur)="onBlur($event)"
          >
        </td>
      </tr>
      <tr>
        <td>Age: </td>
        <td>
          <app-collaborator-field-owner [owner]="ageOwner" />
          <input
            type="number"
            name="age"
            [ngStyle]="{ 'border-color': ageOwner ? ageOwner.bgColor : '#ccc' }"
            formControlName="age"
            (focus)="onFocus($event)"
            (blur)="onBlur($event)"
          >
        </td>
      </tr>
      <tr>
        <td>City: </td>
        <td>
          <app-collaborator-field-owner [owner]="cityOwner" />
          <select
            name="city"
            formControlName="city"
            (focus)="onFocus($event)"
            (blur)="onBlur($event)"
          >
            <option [ngValue]="0">Choose City</option>
            <option *ngFor="let city of cities" [ngValue]="city.id">{{city.name}}</option>
          </select>
        </td>
      </tr>

      <tr>
        <td colspan="2">
          <button type="submit" [disabled]="!frm.valid">Submit</button>
        </td>
      </tr>
    </tbody>
  </table>

</form>

<pre>value: {{ frm.value | json }}</pre>
