<p>Account ID: {{ id }}
  <a [routerLink]="['/list']" >
    Back
  </a>
</p>

<table border="1">
  <thead>
    <tr>
      <th>Field</th>
      <th>Value</th>
      <th>Owner</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Id: </td>
      <td>{{id}}</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>Name: </td>
      <td>
        <input type="text" [(ngModel)]="name">
      </td>
      <td>{{nameStatus}}</td>
    </tr>
    <tr>
      <td>Age: </td>
      <td>
        <input type="number" [(ngModel)]="age">
      </td>
      <td>{{ageStatus}}</td>
    </tr>
  </tbody>
</table>
