<!-- <div id="cursor" style="position: absolute; left: 0; top: 0; transform: translate(460px, 30px);"> -->
<div id="cursor" style="position: absolute; left: 0; top: 0; transition: transform 0.3s ease-out;" [style.transform]="'translate(' + tx + 'px,' + ty + 'px)'">
  <svg width="24" height="36">
      <path id="cursor-arrow"
          d="M5.65376 12.3673H5.46026L5.31717 12.4976L0.500002 16.8829L0.500002 1.19841L11.7841 12.3673H5.65376Z"
          [attr.fill]="color"
      />
  </svg>
  <span
    id="cursor-label"
    [style.backgroundColor]="color"
    [style.color]="textColor"
    style="position: absolute; left: 6px; top: 16px; padding: 2px 6px; border-radius: 12px; font-weight: bold;"
  >
    {{label}}
  </span>
</div>
