<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand">Collaborator - UI <b>{{status}}</b></a>
    <div class="d-flex align-items-center" role="search">
      <div class="d-flex mx-2 align-items-center">
        <label>Nick: </label>
        <input class="form-control me-2" type="text" [(ngModel)]="nickName">
      </div>
      <div class="d-flex mx-2 align-items-center">
        <label>Color: </label>
        <input type="color" [(ngModel)]="nickColor">
      </div>
      <button class="btn btn-outline-success" type="button" (click)="onConnect()">Connect</button>
      <button class="ms-1 btn btn-outline-danger" type="button" (click)="onDisconnect()">Disconnect</button>
    </div>
  </div>
</nav>

<div class="d-flex pt-1 align-items-center bg-" style="min-height: 160px;">
  <p>Collaborators:</p>
  <app-collaborator-avatar *ngFor="let c of collaborators" [c]="c" />
</div>

<router-outlet></router-outlet>
