<table border="1">
  <thead>
    <tr>
      <td>Nick:</td>
      <td colspan="2">
        <input type="text" [(ngModel)]="nickName">
      </td>
    </tr>
    <tr>
      <td>Color:</td>
      <td colspan="2">
        <input type="color" [(ngModel)]="nickColor">
      </td>
    </tr>
    <tr>
      <td>
        <button type="button" class="btn btn-primary" (click)="onConnect()">Connect</button>
        <button type="button" class="btn btn-primary" (click)="onDisconnect()">Disconnect</button>
      </td>
      <td>
        Status: <b>{{status}}</b>
      </td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <button type="button" class="btn btn-primary" (click)="onSendMessage()">Send Test Message</button>
      </td>
      <td></td>
    </tr>
    <tr>
      <td>
        Topic name:
      </td>
      <td>
        <input type="text" [(ngModel)]="topicName">
      </td>
    </tr>
  </tbody>
</table>

<div style="padding-top: 1rem; min-height: 140px;">
  <p>Collaborators:</p>

  <ng-container *ngFor="let c of collaborators">
    <app-collaborator [color]="c.color" [label]="c.nick" />
  </ng-container>

</div>

<ng-container *ngFor="let c of collaborators">
  <app-pointer *ngIf="c.nick !== nickName" [color]="c.color" [label]="c.nick" [tx]="c.mouseX" [ty]="c.mouseY" />
</ng-container>






<router-outlet></router-outlet>
